<h2>Thank you for going Nuts!</h2>

<h3>Here's your order details:</h3>

<div>
<h4>Your order number is: <%= 500 + @order.id %></h4>
<h4> Subtotal: <%= number_to_currency(@order.subtotal) %></h4>
<h4> Tax: <%= number_to_currency(@order.tax) %></h4>
<h4> Total: <%= number_to_currency(@order.total_price) %></h4>
<h4> Ordered by: <%= current_user.email %></h4>

</div>