<!--This is the individual product page for each nut -->
<div class="product_page">

  <h1><%= @nut.name.capitalize %></h1>
  <div class="product"><img src="<%= @nut.image %>"></div>
  <h3><%= @nut.price %><%= @nut.sale_message %></h3>
  <h3><%= @nut.description %></h3>
  <%= link_to "Edit this page", "/products/#{@nut.id}/edit" %>
  </br>
  <%= link_to "Delete this item", "/products/#{@nut.id}", method: :delete %>


</div>