<!DOCTYPE html>
<html>
<head>
  <title>Kim's Gone Nuts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/products">Kim's Nuts</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Products <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Blog</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sort Nuts <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/products?sort=price">Price - low to high</a></li>
              <li><a href="/products?sort_order=price">Price - high to low</a></li>
              <li><a href="/products?discount=true">Discount Items</a></li>
              <li class="divider"></li>
              <% Category.all.each do |category| %>
              <li><a href="/products?category=<% category.name %>"><%= category.name %></a></li><% end %>
              <li class="divider"></li>
              <li><a href="#">On the Go</a></li>
            </ul>
          </li>
        </ul>
        
        <%= form_tag "/search", method: :post, class: "navbar-form navbar-right", role: "search" do%>
        <div class="form-group">
         <%= text_field_tag :search, "Search", class: "form_control" %>
       </div>
       <%= submit_tag "Search", class: "btn btn-default", type: "submit" %>
       <% end %>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

       <li><%= link_to "Sign In", "/users/sign_in" if not current_user %></li>
       <li><%= link_to "Sign Up", "/users/sign_up" if not current_user %></li>
       </ul>
       </div>

       <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Out", "/users/sign_out", method: :delete if current_user %></li>

          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Other Resources <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Paleo Site</a></li>
              <li><a href="#">Nut Recipes</a></li>
              <li><a href="#">Organic</a></li>
              <li class="divider"></li> -->
            </ul>
          <!-- </li>
        </ul> -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="container">
    <% flash.each do |name, message|
     %>
     <div class="alert alert-<%= name %> alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= message %>
    </div>
    <% end %>



    <%= yield %> <!-- replaced by individual views -->
  </div>
</body>

</html>